.marker-btn {
  background: none; 
  border: none;
  cursor: pointer; 
}

.mapboxgl-popup {
  max-width: 400px;
  max-height: 300px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;
}

body {
  background: linear-gradient(200deg, rgb(90,107,133), rgb(118,92,117), rgb(189,138,124), rgb(193,198,202));
  background-size: 600% 600%;
  background-attachment: fixed;
  height: 100%;
  min-height: 100%;
  animation: TackyGradient 8s ease infinite;
}
@keyframes TackyGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}